[package]
name = "shanan"
version = "0.1.0"
edition = "2024"


[[bin]]

name = "shanan-sample"
path = "src/bin/simple.rs"


[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }

rknpu = { path = "../rknpu-rs/rknpu" }
url = "2.5"

v4l = "0.14"
image = { version = "0.25", features = ["png", "jpeg"], optional = true }
imageproc = { version = "0.25", optional = true }
ab_glyph = { version = "0.2", optional = true }
tracing = "0.1.44"
tracing-subscriber = "0.3.22"
thiserror = "2.0.18"



[features]

default = ["read_image_file", "save_image_file", "save_video_file"]

read_image_file = ["image"]
model_yolo26 = []
save_image_file = ["image", "imageproc", "ab_glyph"]
save_video_file = ["image", "imageproc", "ab_glyph"]